/* Barra preta do topo */
.header {
  background-color: black;
  height: 80px;
  position: relative;
}

/* Estilização da Logo */
.logo {
  position: absolute;
  left: 20px; /* Distância da borda esquerda */
  top: 50%;
  transform: translateY(-50%);
  max-width: 150px; /* Ajuste conforme necessário */
}

/* Área verde com o formulário */
.form-container {
  background-color: #4b9400; /* Cor verde */
  padding: 20px; /* Espaçamento interno */
  display: flex;
  justify-content: center; /* Centraliza os elementos horizontalmente */
  align-items: center; /* Centraliza os elementos verticalmente */
  gap: 15px; /* Espaço entre os elementos */
  min-height: 160px; /* Altura mínima */
  margin: 0 auto; /* Centraliza a área verde */
}

/* Área onde os cards ficarão */
.places-container {
  background-color: white;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
